<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Themeconfig>
			<version>0.0.1</version>
		</Cammino_Themeconfig>
	</modules>
	<global>
		<models>
			<themeconfig>
				<class>Cammino_Themeconfig_Model</class>
			</themeconfig>
		</models>
		<blocks>
			<themeconfig>
				<class>Cammino_Themeconfig_Block</class>
			</themeconfig>
		</blocks>
        <helpers>
            <themeconfig>
                <class>Cammino_Themeconfig_Helper</class>
            </themeconfig>
        </helpers>
		<events>
			<admin_system_config_changed_section_themeconfig>
				<observers>
                    <themeconfig>
                        <type>singleton</type>
                        <class>themeconfig/observer</class>
                        <method>saveSettings</method>
                    </themeconfig>
                </observers>
			</admin_system_config_changed_section_themeconfig>
			<controller_action_predispatch_customer_account_login>
                <observers>
                    <redirectproductpage>
                        <type>model</type>
                        <class>Cammino_Themeconfig_Model_Observer</class>
                        <method>redirectProductPage</method>
                    </redirectproductpage>
                </observers>
            </controller_action_predispatch_customer_account_login>
		</events>
     </global>
	 <default>
		<themeconfig>
			<themeconfig_group_product_item>
				<themeconfig_product_item_discount_threshold>0.15</themeconfig_product_item_discount_threshold>            
			</themeconfig_group_product_item>        
		</themeconfig>
    </default>
</config>
