<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <themeconfig translate="label" module="themeconfig">
            <label>Camminostore</label>
            <sort_order>100</sort_order>
        </themeconfig>
    </tabs>
    <sections>
        <themeconfig translate="label" module="themeconfig">
            <label>Geral</label>
            <tab>themeconfig</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <themeconfig_store_basic_info translate="label" module="themeconfig">
                    <label>Informações Básicas da loja</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <themeconfig_store_basic_info_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, as informações da loja serão usadas para atualizar diversos outros campos no Magento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_store_basic_info_force_update>

                        <themeconfig_storename translate="label">
                            <label>Nome da loja</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_storename>

                        <themeconfig_cnpj translate="label">
                            <label>CPF/CNPJ</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cnpj>

                        <themeconfig_address_street translate="label">
                            <label>Endereço (Rua)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_address_street>

                        <themeconfig_address_number translate="label">
                            <label>Endereço (Número)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_address_number>

                        <themeconfig_address_complement translate="label">
                            <label>Endereço (Complemento)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_address_complement>

                        <themeconfig_address_neighborhood translate="label">
                            <label>Endereço (Bairro)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_address_neighborhood>

                        <themeconfig_zipcode translate="label">
                            <label>CEP</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_zipcode>

                        <themeconfig_uf translate="label">
                            <label>UF</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_uf>

                        <themeconfig_city translate="label">
                            <label>Cidade</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_city>

                        <themeconfig_working_hours translate="label">
                            <label>Horário de funcionamento</label>
                            <comment>Exemplo: Seg a Sex das 9:00 as 18:00 e Sab das 9:00 as 14:00</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_working_hours>

                    </fields>
                </themeconfig_store_basic_info>
            </groups>

            <groups>
                <themeconfig_group_scripts translate="label" module="themeconfig">
                    <label>Trackings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <themeconfig_trackings_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, os trackings informados abaixo irão sobreescrever as configs dos módulos do Facebook, Gokeep, Google Analytics e Google Tag Manager e ativá-los caso tenha informado o pixel ou desativa-los se o pixel estiver vazio</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_trackings_force_update>

                        <themeconfig_googletagmanager translate="label">
                            <label>Google Tag Manager ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_googletagmanager>
                        
                        <themeconfig_facebookpixel translate="label">
                            <label>Facebook Pixel ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_facebookpixel>

                        <themeconfig_gokeepstoreid translate="label">
                            <label>Gokeep Store ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_gokeepstoreid>

                        <themeconfig_googleanalyticsid translate="label">
                            <label>Google Analytics ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_googleanalyticsid>
                    </fields>
                </themeconfig_group_scripts>
            </groups>
 
            <groups>
                <themeconfig_group_phones translate="label" module="themeconfig">
                    <label>Telefones</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>

                        <themeconfig_telephones_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, os campos informados nos telefones serão usados para substituir configurações de telefone em outras partes do Magento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephones_force_update>

                        <themeconfig_telephone_1 translate="label">
                            <label>Telefone 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_1>

                        <themeconfig_telephone_2 translate="label">
                            <label>Telefone 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_2>

                        <themeconfig_cellphone_1 translate="label">
                            <label>Celular 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_1>

                        <themeconfig_cellphone_2 translate="label">
                            <label>Celular 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_2>

                        <themeconfig_whatsapp_1 translate="label">
                            <label>Whatsapp 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_1>

                        <themeconfig_whatsapp_2 translate="label">
                            <label>Whatsapp 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_2>

                    </fields>
                </themeconfig_group_phones>
            </groups>

            <groups>
                <themeconfig_group_mails translate="label" module="themeconfig">
                    <label>E-mails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>

                        <themeconfig_mail_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>O primeiro email será usado como padrão para todos os campos de emails do magento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_mail_force_update>

                        <themeconfig_mail_1 translate="label">
                            <label>Email 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_mail_1>

                        <themeconfig_mail_2 translate="label">
                            <label>Email 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_mail_2>

                    </fields>
                </themeconfig_group_mails>
            </groups>

            <!-- Redes Sociais -->
            <groups>
                <themeconfig_group_social_media translate="label" module="themeconfig">
                    <label>Redes Sociais</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <facebook translate="label">
                            <label>Link para Facebook</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </facebook>

                        <instagram translate="label">
                            <label>Link para Instagram</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instagram>

                        <youtube translate="label">
                            <label>Link para Youtube</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </youtube>

                        <twitter translate="label">
                            <label>Link para Twitter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </twitter>

                        <linkedin translate="label">
                            <label>Link para Linkedin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </linkedin>

                    </fields>

                </themeconfig_group_social_media>
            </groups>
            <!-- / Redes Sociais -->

            <!-- WhatsApp Widget -->
            <groups>
                <themeconfig_whatsapp_widget translate="label" module="themeconfig">
                    <label>WhatsApp Widget</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <whatsapp_force_update translate="label">
                            <label>Exibir o widget do WhatsApp</label>
                            <comment>Se sim, o botão para contato do WhatsApp aparecerá na home do site.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </whatsapp_force_update>
                        <whatsapp_number translate="label">
                            <label>Número do WhatsApp</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </whatsapp_number>
                        <whatsapp_text translate="label">
                            <label>Mensagem do WhatsApp</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </whatsapp_text>
                    </fields>
                </themeconfig_whatsapp_widget>
            </groups>
            <!-- / WhatsApp Widget -->

            <groups>
                <themeconfig_group_product translate="label" module="themeconfig">
                    <label>Página do Produto</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <themeconfig_attributes_tab translate="label">
                            <label>Aba de atributos</label>
                            <comment>Slug dos atributos que devem aparecer nas abas (separar atributos por vírgula)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_attributes_tab>
                    </fields>
                </themeconfig_group_product>
            </groups>

            <groups>
                <themeconfig_group_product_item translate="label" module="themeconfig">
                    <label>Produto (item)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <themeconfig_product_item_discount_label_before translate="label">
                            <label>Flag de desconto - Label Antes</label>
                            <comment>Label que será exibido antes do valor de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_product_item_discount_label_before>
                        <themeconfig_product_item_discount_label_after translate="label">
                            <label>Flag de desconto - Label Depois</label>
                            <comment>Label que será exibido depois do valor de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_product_item_discount_label_after>
                    </fields>
                </themeconfig_group_product_item>
            </groups>

            <!-- <groups>
                <themeconfig_group_shipping translate="label" module="themeconfig">
                    <label>Formas de Entrega (Frete)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    
                    <fields>
                        <themeconfig_shipping_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, as informações serão usadas para ativar/desativar e configurar os módulos abaixo</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_shipping_force_update>

                        <themeconfig_shipping_enable_correios translate="label">
                            <label>Ativar Correios</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </themeconfig_shipping_enable_correios>

                        <themeconfig_shipping_enable_frenet translate="label">
                            <label>Ativar Frenet</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </themeconfig_shipping_enable_frenet>

                    </fields>

                </themeconfig_group_shipping>
            </groups> -->

            <groups>
                <themeconfig_group_payment translate="label" module="themeconfig">
                    <label>Pagamento (Parcelas)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    
                    <fields>
                        <themeconfig_payment_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, as informações serão usadas para definir as configurações de parcelamento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_payment_force_update>

                        <themeconfig_payment_max_installments translate="label">
                            <label>Quantidade máxima de parcelas</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_payment_max_installments>

                        <themeconfig_payment_installments_min_value translate="label">
                            <label>Valor mínimo da parcela</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_payment_installments_min_value>

                    </fields>

                </themeconfig_group_payment>
            </groups>






             <groups>
                <themeconfig_group_customer_groups translate="label" module="themeconfig">
                    <label>Vendas para Grupos de Clientes (B2B)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8001</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>

                        <!-- <themeconfig_telephones_force_update translate="label">
                            <label>Forçar atualização dos dados no Magento</label>
                            <comment>Se ativado, os campos informados nos telefones serão usados para substituir configurações de telefone em outras partes do Magento</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephones_force_update> -->

                        <themeconfig_specific_groups_sell translate="label">
                            <label>Ativar venda somente para um grupo específico</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_specific_groups_sell>

                        <themeconfig_specific_groups_select translate="label">
                            <label>Permitir venda para os grupos</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>themeconfig/source_customer_groups</source_model> 
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <themeconfig_specific_groups_sell>
                                    <value>1</value>
                                </themeconfig_specific_groups_sell>
                            </depends>
                        </themeconfig_specific_groups_select>

                        <themeconfig_specific_groups_show_price translate="label">
                            <label>Mostrar preços somente para clientes dos grupos liberados</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <themeconfig_specific_groups_sell>
                                    <value>1</value>
                                </themeconfig_specific_groups_sell>
                            </depends>
                        </themeconfig_specific_groups_show_price>

                        <themeconfig_specific_groups_show_button translate="label">
                            <label>Exibir botão para clientes que não estão nos grupos liberados</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <themeconfig_specific_groups_sell>
                                    <value>1</value>
                                </themeconfig_specific_groups_sell>
                            </depends>
                        </themeconfig_specific_groups_show_button>

                        <themeconfig_specific_groups_text_button translate="label">
                            <label>Texto do botão para cadastro</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <themeconfig_specific_groups_sell>
                                    <value>1</value>
                                </themeconfig_specific_groups_sell>
                                <themeconfig_specific_groups_show_button>
                                    <value>1</value>
                                </themeconfig_specific_groups_show_button>
                            </depends>
                        </themeconfig_specific_groups_text_button>

                    </fields>
                </themeconfig_group_customer_groups>
            </groups>


        </themeconfig>

        <themeconfig_design module="themeconfig">
            <label>Design</label>
            <tab>themeconfig</tab>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <product translate="label" module="themeconfig">
                    <label>Produto</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <image_theme translate="label">
                            <label>Preset imagem do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themeconfig/source_design_theme_productimage</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_theme>
                    </fields>
                </product>
            </groups>

            <groups>
                <header module="themeconfig">
                    <label>Header</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <header_theme translate="label">
                            <label>Preset de design do header</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themeconfig/source_design_theme_productimage</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </header_theme>
                    </fields>
                </header>
            </groups>

        </themeconfig_design>

    </sections>
</config>