<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <themeconfig translate="label" module="themeconfig">
            <label>Camminostore</label>
            <sort_order>100</sort_order>
        </themeconfig>
    </tabs>
    <sections>
        <themeconfig translate="label" module="themeconfig">
            <label>Configurações</label>
            <tab>themeconfig</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <themeconfig_group_phones translate="label" module="themeconfig">
                    <label>Telefones</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <themeconfig_telephone_1 translate="label">
                            <label>Telefone 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_1>
                        <themeconfig_telephone_2 translate="label">
                            <label>Telefone 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_2>
                        <themeconfig_cellphone_1 translate="label">
                            <label>Celular 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_1>
                        <themeconfig_cellphone_2 translate="label">
                            <label>Celular 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_2>
                        <themeconfig_whatsapp_1 translate="label">
                            <label>Whatsapp 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_1>
                        <themeconfig_whatsapp_2 translate="label">
                            <label>Whatsapp 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_2>
                    </fields>
                </themeconfig_group_phones>
            </groups>
        </themeconfig>
    </sections>
</config>