<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <themeconfig translate="label" module="themeconfig">
            <label>Camminostore</label>
            <sort_order>100</sort_order>
        </themeconfig>
    </tabs>
    <sections>
        <themeconfig translate="label" module="themeconfig">
            <label>Configurações</label>
            <tab>themeconfig</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <themeconfig_group_scripts translate="label" module="themeconfig">
                    <label>Scripts (tags)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <themeconfig_googletagmanager translate="label">
                            <label>Google Tag Manager ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_googletagmanager>
                    </fields>
                </themeconfig_group_scripts>
            </groups>
 
            <groups>
                <themeconfig_group_phones translate="label" module="themeconfig">
                    <label>Telefones</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <themeconfig_telephone_1 translate="label">
                            <label>Telefone 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_1>
                        <themeconfig_telephone_2 translate="label">
                            <label>Telefone 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_telephone_2>
                        <themeconfig_cellphone_1 translate="label">
                            <label>Celular 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_1>
                        <themeconfig_cellphone_2 translate="label">
                            <label>Celular 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_cellphone_2>
                        <themeconfig_whatsapp_1 translate="label">
                            <label>Whatsapp 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_1>
                        <themeconfig_whatsapp_2 translate="label">
                            <label>Whatsapp 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_whatsapp_2>
                    </fields>
                </themeconfig_group_phones>
            </groups>

            <groups>
                <themeconfig_group_mails translate="label" module="themeconfig">
                    <label>E-mails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <themeconfig_mail_1 translate="label">
                            <label>Email 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_mail_1>
                        <themeconfig_mail_2 translate="label">
                            <label>Email 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_mail_2>
                    </fields>
                </themeconfig_group_mails>
            </groups>

            <groups>
                <themeconfig_group_social_media translate="label" module="themeconfig">
                    <label>Redes Sociais</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <facebook translate="label">
                            <label>Link para Facebook</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </facebook>
                        <instagram translate="label">
                            <label>Link para Instagram</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instagram>
                        <youtube translate="label">
                            <label>Link para Youtube</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </youtube>
                        <twitter translate="label">
                            <label>Link para Twitter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </twitter>
                    </fields>

                </themeconfig_group_social_media>
            </groups>

            <groups>
                <themeconfig_group_product translate="label" module="themeconfig">
                    <label>Página do Produto</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <themeconfig_attributes_tab translate="label">
                            <label>Aba de atributos</label>
                            <comment>Slug dos atributos que devem aparecer nas abas (separar atributos por vírgula)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_attributes_tab>
                    </fields>
                </themeconfig_group_product>
            </groups>

            <groups>
                <themeconfig_group_product_item translate="label" module="themeconfig">
                    <label>Produto (item)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <themeconfig_product_item_discount_label_before translate="label">
                            <label>Flag de desconto - Label Antes</label>
                            <comment>Label que será exibido antes do valor de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_product_item_discount_label_before>
                        <themeconfig_product_item_discount_label_after translate="label">
                            <label>Flag de desconto - Label Depois</label>
                            <comment>Label que será exibido depois do valor de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </themeconfig_product_item_discount_label_after>
                    </fields>
                </themeconfig_group_product_item>
            </groups>

        </themeconfig>
    </sections>
</config>